{% extends "oscar/dashboard/layout.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
    {% trans "Blog Posts" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">
                    {% trans "Dashboard" %}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Category" %}
            </li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block header %}
    <div class="page-header">
        <a class="btn btn-outline-primary float-right" href="{% url 'dashboard_blog:category-create' %}">
            <i class="fas fa-plus-circle"></i>
            {% trans "Create new category" %}
        </a>
        <h1>
            {% trans "Category" %}
        </h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% render_table category_table %}
{% endblock dashboard_content %}
