{% extends 'oscar/dashboard/layout.html' %}
{% load category_tags %}
{% load i18n %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard_blog:category-list' %}">{% trans "Category" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ header }}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-header-title">
                {{ header }}
            </h4>
            <div class="col-auto">
            </div>
        </div>
        <div class="card-body">
            {% include "oscar/dashboard/partials/form_fields.html" with form=form %}
        </div>
        <div>
            <a class="btn btn-danger" href="{% url 'dashboard_blog:post-list' %}">
                {% trans "Cancel" %}
            </a>
            <button class="btn btn-primary" name="action" type="submit" value="save" data-loading-text="{% trans 'Saving...' %}">
                {% trans "Save" %}
            </button>
        </div>
    </div>
</form>
</br>
{% endblock dashboard_content %}
