{% load django_tables2 %}
{% load i18n %}

<div class="btn-toolbar">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Actions" %}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'dashboard_blog:category-update' slug=record.slug %}">
                {% trans "Edit" %}
            </a>
            <a class="dropdown-item" href="{% url 'dashboard_blog:category-delete' slug=record.slug %}">
                {% trans "Delete" %}
            </a>
        </div>
    </div>
</div>