{% extends "oscar/dashboard/layout.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
    {% trans "Blog Posts" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">
                    {% trans "Dashboard" %}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Blogs" %}
            </li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block header %}
    <div class="page-header">
        <a class="btn btn-outline-primary float-right" href="{% url 'dashboard_blog:post-create' %}">
            <i class="fas fa-plus-circle"></i>
            {% trans "Create new post" %}
        </a>
        <h1>
            {% trans "Posts" %}
        </h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% block search_posts %}
        <div class="table-header">
            <h3>
                <i class="fas fa-search"></i>
                {% trans "Search Posts" %}
            </h3>
        </div>
        <div class="card card-body">
            <form method="get" class="form form-inline">
                {% include "oscar/dashboard/partials/form_fields_inline.html" with form=filter.form style='horizontal'%}
                <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">
                    <i class="fas fa-search"></i>
                    {% trans "Search" %}
                </button>
            </form>
        </div>
    {% endblock search_posts %}
    <div class="table-header">
        <h3>
            {% trans "Posts" %}
        </h3>
    </div>
    {% render_table posts_table %}
{% endblock dashboard_content %}
