{% extends "oscar/dashboard/layout.html" %}
{% load i18n %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">
                    {% trans "Dashboard" %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard_blog:post-list' %}">
                    {% trans "Posts" %}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ header }}
            </li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block header %}
    <div class="page-header">
        <h1>
            {{ header }}
        </h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete Post" %}</h2>
    </div>
    <form method="post" class="card card-body bg-light">
        {% csrf_token %}
        {{ form }}
        {% blocktrans with name=object.title %}
            <p>Do you want to delete post <strong>{{ title }}</strong>?</p>
        {% endblocktrans %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">
                {% trans "Delete" %}
            </button>
            {% trans "or" %}
            <a href="{% url 'dashboard_blog:post-list' %}" class="btn btn-outline-secondary">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock dashboard_content %}