{% extends "oscar/dashboard/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Blog Posts" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">
                    {% trans "Dashboard" %}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Blog" %}
            </li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block header %}
    <div class="page-header">
        <h1>
            {% trans "Create new post" %}
        </h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="container">
        <form action="{% url 'dashboard_blog:post-create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div>
                {{ form.slug.label_tag }}
                {{ form.slug }}
            </div>
            <div>
                {{ form.excerpt.label_tag }}
                {{ form.excerpt }}
            </div>
            <div>
                {{ form.content.label_tag }}
                {{ form.content }}
            </div>
            <div>
                {{ form.featured_image.label_tag }}
                {{ form.featured_image }}
            </div>
            <div>
                {{ form.categories.label_tag }}
                {{ form.categories }}
            </div>
            <div>
                {{ form.author.label_tag }}
                {{ form.author }}
            </div>
            <button class="btn btn-success" type="submit">Create Post</button>
            
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock dashboard_content %}
