{% extends "oscar/layout.html" %}

{% load i18n %}
{% load image_tags %}

{% block title %}
    Blog | {{ post.title }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'blogs:blogs-view' %}">
                    Blog
                </a>
            </li>
            <li class="breadcrumb-item">Post Detail</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block header %}
    <h1>{{ post.title }}</h1>
{% endblock header %}

{% block content %}
    <section id="blog-section" class="container-fluid">
        <main>
            {% if post.featured_image %}
                <div style="display: flex; justify-content: center;">
                    <img src="{% oscar_thumbnail post.featured_image '800x500' upscale=False %}" /> 
                </div>
            {% endif %}
            <h3> Content : </h3>
            {% if not post.content and not post.excerpt %}
                <p> - </p>
            {% else %}
                {% if post.content %}
                    <p style="word-wrap: break-word;">{{ post.content|safe }}</p>
                {% else %}
                    <p style="word-wrap: break-word;">{{ post.excerpt|safe }}</p>
                {% endif %}
            {% endif %}
            <hr>
            <p>Category : 
                {% for category in post.categories.all %}
                <a href="{% url 'blogs:blogs-category-view' category.slug %}">
                    {{ category.name }}
                </a>
                {% empty %}
                    Uncategorized
                {% endfor %}
            </p>
            <p>
                Post Date : {{ post.date_created|date:"d/m/Y" }}
            </p>
            <p>
                Update Date : {{ post.date_updated|date:"d/m/Y" }}
            </p>
            <p>
                Author : {{ post.author }}
            </p>
        </main>
    </section>

{% endblock content %}