{% extends "oscar/layout.html" %}

{% load i18n %}
{% load image_tags %}

{% block title %}
    Blog | {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'blogs:blogs-view' %}">Blog</a>
            </li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block header %}
    <h1>{{ header }}</h1>
{% endblock header %}

{% block content %}
    <section id="blog-section" class="container-fluid">
        <div class="row">
            
            <div class="col-md-9 pt-3" style="display: flex; justify-content: center; flex-direction: column;">
                {% if posts.exists %}
                    {% for post in posts %}
                        <article class="container-fluid card mb-4 pt-3 pb-3">
                            <div class="row">
                                <h2 style="width: 90%; margin-left: 5%; word-wrap: break-word;">
                                    <a href="{{ post.get_absolute_url }}" >
                                        {{ post.title }}
                                    </a>
                                </h2>
                            </div>
                            <div class="row">
                                <div style="width: 90%; margin-left: 5%;">
                                    {% for category in post.categories.all %}
                                        <a href="{% url 'blogs:blogs-category-view' category.slug %}">
                                            <span class="badge badge-secondary">{{ category.name }}</span>
                                        </a>   
                                    {% empty %}
                                        Uncategorized
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div style="width: 100%;">
                                    {% if post.featured_image %}
                                        <div style="width: 100%; display: flex; justify-content: center;">
                                            <img src="{% oscar_thumbnail post.featured_image '400x250' upscale=True %}" /> 
                                        </div>
                                    {% endif %}
                                        <p style="text-align: center;"><small> Post Date: {{ post.date_created|date:"d-m-Y" }} | Post By: {{ post.author }} </small></p>
                                    {% if post.excerpt%}
                                        <p style="width: 90%; margin-left: 5%; word-wrap: break-word;">
                                            {{ post.excerpt|truncatechars:500|safe}}
                                        </p>
                                    {% else %}
                                        <p style="width: 90%; margin-left: 5%; word-wrap: break-word;">
                                            {{ post.content|truncatechars:500|safe}}
                                        </p>
                                    {% endif %}

                                    <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-success" style="width: 90%; margin-left: 5%;">
                                        Read more...
                                    </a>
                                    
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    {% include "oscar/partials/pagination.html" %}
                {% else %}
                    {% if search or category %}
                        <p>Data Not Found.</p>
                    {% else %}
                        <p>No published posts.</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-md-3">
                <nav class="blog-nav sidebar">
                    <form method="get" class="form form-inline">
                        
                        <span class="input-group-btn">
                            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=filter.form style='horizontal'%}
                            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>
                    </form>
                    <h4 class="mt-3">Categories</h4>
                    {% if categories %}
                        <ol class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'blogs:blogs-view' %}">
                                    ALL
                                </a>
                            </li>
                            {% for category in categories %}
                                <li class="list-group-item">
                                    <a href="{% url 'blogs:blogs-category-view' category.slug %}">  {% comment %} {% url 'blogs:blogs-category-view' category.slug %} {% endcomment %}
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p>None</p>
                    {% endif %}
                </nav>
            </div>
        </div>
    </section>
{% endblock content %}